---
layout: base.njk
permalink: /404.html
eleventyExcludeFromCollections: true
pageTitle: Not found
pageDescription: This page does not exist.
---
<div class="page prose notfound">
  <h1 lang="uk">Тут нічого немає.</h1>
  <p>There's nothing here. But there are thoughts <a href="/">where you came in</a>.</p>
</div>
